@media (min-width: 1024px) {
  .verticalizaAlAchicar {
    flex-direction: row;
  }

  .altoVariable {
    height: 45vw;
  }

  .margenIzquierdoYSuperiorVariable {
    font-size: medium;
    margin-top: 10vw;
    margin-left: 40vw;
    height: 45vw;
  }
  .apilable {
    display: flex;
    font-size: medium;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .verticalizaAlAchicar {
    flex-direction: row;
  }

  .altoVariable {
    height: 45vw;
  }

  .margenIzquierdoYSuperiorVariable {
    font-size: medium;
    margin-top: 10vw;
    margin-left: 40vw;
    height: 45vw;
  }

  .apilable {
    display: flex;
    font-size: small;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .verticalizaAlAchicar {
    flex-direction: column;
  }
  .altoVariable {
    height: 80vw;
  }

  .margenIzquierdoYSuperiorVariable {
    font-size: medium;
    margin-top: 5vw;
    margin-left: 20vw;
    height: 80vw;
  }
  .apilable {
    display: flex;
    flex-direction: column;
    margin-left: 20vw;
    font-size: small;
  }
}

@media (max-width: 575px) {
  .verticalizaAlAchicar {
    flex-direction: column;
  }

  .altoVariable {
    height: 120vw;
  }

  .margenIzquierdoYSuperiorVariable {
    font-size: small;
    margin-top: 0vw;
    height: 120vw;
  }
  .apilable {
    display: flex;
    flex-direction: column;
    font-size: medium;
    justify-content: center;
    align-items: center;
  }
}
